*{
    margin: 0;
    background: #000;
}

.custom-calendar .rbc-today {
    background-color: black; 
    color: white; 
  }

.custom-calendar  .rbc-day-bg.rbc-off-range-bg {
    background-color: black;
    opacity: 0.5; 
    color: gray;
  }

.custom-calendar .rbc-month-view{
    border : 1px solid black
}
.custom-calendar .rbc-month-row{
    border-bottom : 1px solid black
}
.custom-calendar .rbc-month-view{
    margin-top: 100px;
}